

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: #000;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.orange {
    color: #fc4c3f;
}

.black {
    color: #000;
}

.btn {
    padding: 20px 90px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    border: 0;
    transition: 0.4s;
}
.btn:hover {
    background-color: #000;
    cursor: pointer;
}

.btn-lightorange {
    background-color: orange;
    color: #fff;
}




.btn-darkorange {
    background-color: #fc4c3f;
    color: #fff;
}


@media screen and (max-width: 480px) {

};